{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Website</title>
</head>
<body>
{{end}}

<!-- Each pages contend goes here -->

{{define "footer"}}
</body>
</html>
{{end}}