{{define "header"}}
<!DOCTYPE html>
<html>

<head>
  <script src="https://kit.fontawesome.com/0f4b01b0f5.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>My Website</title>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            custom: '#da373d',
          }
        }
      }
    }
  </script>
</head>

<body class="min-h-screen">
  <header class="sticky top-0 z-50 p-4 shadow-md bg-white">
    <nav class="flex items-center">
      <div class="pr-8">
        <a href="/" class="flex items-center pr-8 hover:text-blue-600 active:text-blue-800">
          <i class="fa-solid fa-camera text-4xl cursor-pointer"></i>
          <span class="ml-4 text-3xl font-serif">Lenslocked</span>
        </a>
      </div>
      <div class="flex-grow">
        <div>
          <a href="/" class="pr-8 hover:text-blue-600">Home</a>
          <a href="/contact" class="pr-8 hover:text-blue-600">Contact</a>
          <a href="/faq" class="pr-8 hover:text-blue-600">FAQ</a>
        </div>
      </div>
      <div>
        <a href="#" class="hover:text-blue-600 pr-4">Sign in</a>
        <a href="/signup" class="bg-blue-500 rounded text-white p-3 hover:bg-blue-600 active:bg-blue-800">Sign up</a>
      </div>
    </nav>
  </header>
  <main class="min-h-screen flex flex-col items-center">
  {{end}}
    <!-- Each pages contend goes here -->
  {{define "footer"}}
  </main>
  <footer class="bg-gray-800 p-4 md:flex md:justify-between md:items-center text-white">
    <div class="mb-4 md:mb-0">© 2022 My Website</div>
    <nav>
      <a href="#" class="block md:inline-block hover:text-gray-300 mr-4">Privacy Policy</a>
      <a href="#" class="block md:inline-block hover:text-gray-300 mr-4">Terms of Service</a>
      <a href="#" class="block md:inline-block hover:text-gray-300">Contact</a>
    </nav>
  </footer>
</body>

</html>
{{end}}